---
receivers:
  punt_stats:
    file_path: /cumulus/nl2docad/run/stats/punt
    container_name: doca-hbn
    # 5m hits Prometheus staleness limit, causing a discontinuity in the
    # graphed time series.
    scrape_interval: 4m

processors:
  batch/metrics:
    send_batch_size: 8192
    timeout: 15s
  telemetry_stats:
    metric_scrape_interval: 1m
    metric_groupings:
      - name: metrics_by_component
        by_metric_name: false
        by_metric_type: false
        by_label:
          names:
            - component
    labels:
      - name: component
        value: telemetry_stats
    include_telemetry_stats: false
  memory_limiter:
    check_interval: 1s
    limit_percentage: 50
    spike_limit_percentage: 20
  resource/punt-stats:
    attributes:
      - key: component
        value: punt_stats
        action: upsert
  resourcedetection:
    # Add hostname at the resource level
    detectors: ["system"]
    system:
      # so it matches what's set with `sudo hostnamectl set-hostname <hostname>`
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        os.type:
          enabled: false
        host.id:
          enabled: false

exporters:
  otlp/site:
    endpoint: otel-receiver.forge:443
    tls:
      ca_file: /etc/otelcol-contrib/certs/ca.pem
      cert_file: /etc/otelcol-contrib/certs/otel-cert.pem
      key_file: /etc/otelcol-contrib/certs/private/otel-key.pem
      reload_interval: 1h
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 1h
  prometheus:
    endpoint: "127.0.0.1:9999"
    resource_to_telemetry_conversion:
      enabled: true

service:
  pipelines:
    metrics/punt-stats:
      receivers: [punt_stats]
      processors:
        - memory_limiter
        - resourcedetection
        - resource/punt-stats
        - telemetry_stats
        - batch/metrics
      exporters: [otlp/site, prometheus]

  telemetry:
    metrics:
      level: none
